<h2>My Notes</h2>
<div class="row" style="margin-left: 30px;">
	<%=@note.content%>
	<%=link_to raw("   upvote-#{@note.count_upvote}"), upvote_path(@note.id)%> <%=link_to raw("   downvote-#{@note.count_downvote}"), downvote_path(@note.id) %>
</div>	
<br>
	<%= link_to "Edit", edit_note_path(@note) %>
	<%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to 'Back to User Notes', root_path %>