<h3 style="text-align: center">Users I don't follow</h3>

	<% @user_array.each do |user| %>
		<h5><%=user.email%><%=link_to raw("   follow-#{user.count_follow}"), follow_path(user.id)%> <%=link_to raw("   unfollow-#{user.count_unfollow}"), unfollow_path(user.id) %></h5>
		<%user.notes.each do |note|%>
			<p><%=note.content%>  <%=link_to 'Show', note %></p>
		<%end%>	
		<hr>
	<%end%>	
	<%= link_to 'Create a note', new_note_path %>
